<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Constructor</title>
    <script>
        class Database{
            constructor(){
                document.write("Connected with database"+"<br>");
            }
            Insert(){
                document.write("Record Inserted");
            }
            Delete(){
                document.write("Record Deleted");
            }
            Update(){
                document.write("Record Updated");
            }
        }
        function InsertClick(){
            let obj=new Database;
            obj.Insert();
        }
        function DeleteClick(){
            let obj=new Database;
            obj.Delete();
        }
        function UpdateClick(){
            let obj=new Database;
            obj.Update();
        }
    </script>
</head>
<body>
    <button onclick="InsertClick()">Insert</button>
    <button onclick="DeleteClick()">Delete</button>
    <button onclick="UpdateClick()">Update</button>
</body>
</html>